<section class="banner">
  <h2 class="visually-hidden">Преимущества</h2>
  <div class="container">
    <ul class="banner__list">
      <li class="banner-item">
        <div class="banner-item__inner">
          <span class="banner-item__name">
            Расчёт стоимости <br />
            не более 15 минут
          </span>
          <button class="banner-item__btn btn" type="button">
            Заказать расчет
          </button>
        </div>
      </li>
      <li class="banner-item">
        <div class="banner-item__inner">
          <span class="banner-item__name">
            Информирование <br />
            о стадиях перевозки <br />
            по WhatsApp и E-MAIL
          </span>
          <p class="banner-item__text">Удобный онлайн-сервис.</p>
          <button class="banner-item__btn btn" type="button">
            Отследить груз
          </button>
        </div>
      </li>
      <li class="banner-item">
        <div class="banner-item__inner">
          <span class="banner-item__name">
            Работа в праздники <br />
            и выходные
          </span>
          <a class="banner-item__phone" href="tel:+77011234567">
            8-701-123-45-67
          </a>
        </div>
      </li>
      <li class="banner-item">
        <div class="banner-item__inner">
          <span class="banner-item__name">
            Поддержка персонального <br />
            менеджера 24/7
          </span>
          <p class="banner-item__text">
            Личный менеджер находится <br />
            на связи в любое время суток <br />
            и помогает решить любые вопросы.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
