<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits-item">
        <div class="benefits-item__top">
          <img src="img/benefits/1.png" alt="img" />
          <b class="benefits-item__name">
            АДРЕСНАЯ <br />
            ДОСТАВКА
          </b>
        </div>
        <p class="benefits-item__text">
          Доставка до адреса <br />
          получателя с уточнением удобного для него времени
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__top">
          <img src="img/benefits/2.png" alt="img" />
          <b class="benefits-item__name">
            ОПЛАТА <br />
            В ОДИН КОНЕЦ
          </b>
        </div>
        <p class="benefits-item__text">
          Вы оплачиваете стоимость перевозки в один конец, <br />
          не платите за обратную дорогу
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__top">
          <img src="img/benefits/3.png" alt="img" />
          <b class="benefits-item__name">
            ДОСТАВКА ГРУЗА <br />
            ТОЧНО В СРОк
          </b>
        </div>
        <p class="benefits-item__text">
          Мы гарантируем качественную доставку груза точно в указанный срок
        </p>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__top">
          <img src="img/benefits/4.png" alt="img" />
          <b class="benefits-item__name">
            РАБОТАЕМ 24/7 <br />
            БЕЗ ВЫХОДНЫХ
          </b>
        </div>
        <p class="benefits-item__text">
          Обращайтесь в любое время по телефону или на почтовый <br />
          адрес и мы ответим вам
        </p>
      </li>
    </ul>
  </div>
</section>
