<section
  class="consultation"
  style="background-image: url('img/consultation-bg.jpg')"
>
  <div class="container">
    <div class="consultation__wrapper">
      <h1 class="consultation__title">Узнайте все подробности:</h1>
      <p class="consultation__text">
        Позвоните нам или оставьте заявку на сайте и наши менеджеры <br />
        проконсультируют Вас по любому вопросу.
      </p>
      <a class="consultation__phone" href="tel:+77011234567">
        8-701-123-45-67
        <span>Звонок бесплатный</span>
      </a>

      <button class="consultation__btn btn btn--white" type="button">
        Заказать консультацию
      </button>
    </div>
  </div>
</section>
