<section class="contacts">
  <div class="contacts__top">
    <div class="container">
      <h1 class="contacts__title">Контакты</h1>
    </div>
  </div>

  <div class="contacts__content">
    <div class="container">
      <div class="contacts__wrapper">
        <div class="contacts__col">
          <div class="contacts-left">
            <a class="contacts-left__phone" href="tel:+77011234567">
              <span class="hover-accent"> 8-701-123-45-67</span>
              <small>горячая линия 24 часа, звонок бесплатный</small>
            </a>

            <ul class="contacts-left__list">
              <li class="contacts-left__item">
                <a class="contacts-left__link" href="tel:+77011234567">
                  <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  <span class="hover-accent">
                    8-701-123-45-67
                    <small>офис менеджер</small>
                  </span>
                </a>
              </li>
              <li class="contacts-left__item">
                <a class="contacts-left__link" href="tel:+77011234567">
                  <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  <span class="hover-accent">
                    8-701-123-45-67
                    <small>бухгалтерия</small>
                  </span>
                </a>
              </li>
              <li class="contacts-left__item">
                <a class="contacts-left__link" href="tel:+77011234567">
                  <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  <span class="hover-accent">
                    8-701-123-45-67
                    <small>бухгалтерия</small>
                  </span>
                </a>
              </li>
              <li class="contacts-left__item">
                <a class="contacts-left__link" href="tel:+77011234567">
                  <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                  </svg>
                  <span class="hover-accent">
                    8-701-123-45-67
                    <small>отдел логистики</small>
                  </span>
                </a>
              </li>
              <li class="contacts-left__item">
                <a
                  class="contacts-left__link contacts-left__link--email"
                  href="mailto:info@le-trans.kz"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#mail"></use>
                  </svg>
                  <span class="hover-accent">
                    Email:
                    <small>info@le-trans.kz</small>
                  </span>
                </a>
              </li>
              <li class="contacts-left__item">
                <div class="contacts-left__link contacts-left__link--schedule">
                  <svg>
                    <use xlink:href="img/sprite.svg#clock"></use>
                  </svg>
                  <div>
                    <small>Часы работы: </small>
                    <span>пн-пт с 09:00 до 18:00</span>
                    <small>Выходные – Сб, вс</small>
                  </div>
                </div>
              </li>
            </ul>

            <div class="offices">
              <button class="offices__top" type="button">
                <svg>
                  <use xlink:href="img/sprite.svg#buildings"></use>
                </svg>
                <span class="offices__text">Наши офисы</span>
                <svg>
                  <use xlink:href="img/sprite.svg#chevron"></use>
                </svg>
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-menu__item">
                  <b>Москва:</b>
                  <p>Москва Москва Москва Москва Москва Москва</p>
                </li>
                <li class="dropdown-menu__item">
                  <b>Москва:</b>
                  <p>Москва Москва Москва Москва Москва Москва</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contacts__col">
          <h2 class="contacts__heading">
            Заполните форму и оставьте сообщение
          </h2>
          <form class="contacts__form form-submit">
            <div class="form-submit__inputs">
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="text"
                  placeholder="Имя"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="email"
                  placeholder="E-mail"
                />
              </label>
              <label class="form-submit__group">
                <input
                  class="form-submit__input"
                  type="tel"
                  placeholder="Телефон"
                />
              </label>
            </div>

            <label class="form-submit__group form-submit__group--big">
              <textarea
                class="form-submit__input"
                placeholder="Сообщение"
              ></textarea>
            </label>

            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Я принимаю <a href="#">пользовательское соглашение</a> и
                подтверждаю, что ознакомлен и согласен с
                <a href="#">политикой конфиденциальности</a> данного сайта
              </span>
            </label>

            <button class="form-submit__btn btn" type="button">
              ОТПРАВИТЬ СООБЩЕНИЕ
            </button>
          </form>
        </div>
        <div class="contacts__pdfs">
          <a class="contacts__pdf" href="#" download>
            <b>PDF</b>
            <span>Скачать реквизиты</span>
          </a>
          <a class="contacts__pdf" href="#" download>
            <b>PDF</b>
            <span>Скачать договор</span>
          </a>
          <a class="contacts__pdf" href="#" download>
            <b>PDF</b>
            <span>Бланк описи груза</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
