<section class="delivery" style="background-image: url('img/delivery-bg.jpg')">
  <div class="delivery__wrapper">
    <div class="delivery__left">
      <h2 class="delivery__title">
        Хотите быстро <br />
        доставить груз в целости <br />
        и сохранности?
      </h2>

      <p class="delivery__text">
        Мы доставляем грузы от адреса до адреса, без перевалки по складам — это:
      </p>

      <ul class="delivery__list">
        <li class="delivery__item">Гарантирует сохранность груза</li>
        <li class="delivery__item">Сокращает срок доставки</li>
      </ul>
    </div>
    <div
      class="delivery__img"
      style="background-image: url('img/delivery-img.jpg')"
    ></div>
  </div>
</section>
