<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__left">
        <h2 class="descr__title">
          Транспортная компания <br />
          LE TRANS -
          <span> наши надежные партнеры </span>
          и ваши отличные <br />
          отзывы в один клик.
        </h2>
      </div>
      <div class="descr__right">
        <p>
          С дополнительными подробностями на эту тему можно ознакомиться по
          адресу, либо по телефону. Существует услуга написания письма менеджеру
          в чат.
        </p>

        <p>
          Заказчик может заказать любые перевозки, и ждать точной доставки по
          указанному адресу с удобным для него временем. Оплачивать теперь надо
          только за доставку продукта в один прямой путь, за обратную дорогу
          нет.
        </p>
        <p>
          Транспортная компания в Алмате LЕ-TRANS гарантирует качественную
          доставку и перевозку груза в указанный срок. И работает без перерывов
          и выходных 24/7, как на телефоне, так и по почтовому адресу.
        </p>

        <p>
          Компания занимается как простыми перевозками малогабаритного груза,
          так и грузоперевозками по всей стране, начиная с переезда офисов или
          складов и заканчивая мебелью, техникой и личными вещами. Также
          организация гарантирует сохранить целостность груза без перевалок,
          перемещений по складам - в выгодном положении как покупатель, так и
          фирма.
        </p>
      </div>
    </div>
  </div>
</section>
