<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col">
          <a class="footer__logo" href="#">
            <img src="img/logo.png" alt="logo" />
          </a>

          <div class="footer__copy">
            <div>©2023</div>
            <div>«Le Trans»</div>

            <div class="mt">
              <div>Все права защищены</div>
              <a href="#">Политика конфидициальности</a>
            </div>
          </div>
        </div>
        <div class="footer__lists">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О компании </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Автопарк </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Отзывы </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты </a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#"> Попутные грузоперевозки </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Сборные грузоперевозки</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Переезды</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Рефрижераторные перевозки</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Продовольственные перевозки​ </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Все услуги </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__contacts">
          <a class="footer__phone" href="tel:+77011234567">
            8-701-123-45-67
            <small>Звонок бесплатный</small>
          </a>

          <button class="footer__btn btn btn-call" type="button">Заказать ЗВОНОК</button>

          <div class="footer__sosials">
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <a class="footer__email" href="mailto:info@le-trans.kz">
          <svg>
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          <span>info@le-trans.kz</span>
        </a>
      </div>

      <div class="footer__copy footer__copy--mobile">
        <div>©2023</div>
        <div>«Le Trans»</div>

        <div class="mt">
          <div>Все права защищены</div>
          <a href="#">Политика конфидициальности</a>
        </div>
      </div>
    </div>
  </div>
</footer>
