<header class="header header--white">
  <!-- Mobile Menu -->
  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__col">
        <p class="mobile-menu__name">Компания</p>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"><span>Услуги </span></a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"><span>Автопарк</span></a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"><span>Отзывы</span></a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"><span>Контакты</span></a>
          </li>
        </ul>
      </div>
      <div class="mobile-menu__col">
        <p class="mobile-menu__name">Услуги</p>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"
              ><span>Попутные грузоперевозки ​ </span></a
            >
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"
              ><span> Сборные грузоперевозки</span></a
            >
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"><span>Переезды</span></a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#"
              ><span> Рефрижераторные перевозки</span></a
            >
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#">
              <span> Продовольственные перевозки</span></a
            >
          </li>
        </ul>
      </div>
      <div class="mobile-menu__right">
        <div class="mobile-menu__phone" href="#">
          <a href="tel:+77011234567 ">8-701-123-45-67 </a>
          <small> горячая линия 24 часа, звонок бесплатный</small>
        </div>

        <a class="mobile-menu__mail" href="mailto:info@le-trans.kz"
          >info@le-trans.kz</a
        >

        <div class="mobile-menu__sosials">
          <ul class="socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu -->

  <!-- dropdown -->
  <div class="dropdown" data-target="services-drop">
    <div class="container">
      <div class="dropdown__cols">
        <div class="dropdown__col">
          <b class="dropdown__name">Переезды</b>
          <p class="dropdown__text">
            Заказать квартирный, домашний или офисный переезд
          </p>

          <div class="dropdown__btns">
            <a class="dropdown__btn btn btn--white" href="#">
              Переезды военослужащий
            </a>
            <a class="dropdown__btn btn btn--white" href="#">
              Квартирные, офисные и домашние переезды
            </a>
            <a class="dropdown__btn btn btn--white" href="#">
              Дачные переезды
            </a>
          </div>
        </div>
        <div class="dropdown__col">
          <b class="dropdown__name">Перевозки продутов</b>
          <p class="dropdown__text">
            Груз с соблюдением санитарных норм и температурного режима
          </p>
          <div class="dropdown__btns">
            <a class="dropdown__btn btn btn--white" href="#">
              Продовольственные перевозки
            </a>
            <a class="dropdown__btn btn btn--white" href="#">
              Рефрижераторные перевозки
            </a>
          </div>
        </div>
        <div class="dropdown__col">
          <b class="dropdown__name">Малый груз</b>
          <p class="dropdown__text">
            Сборные грузы экономия на доставке мелких товаров
          </p>

          <div class="dropdown__btns">
            <a class="dropdown__btn btn btn--white" href="#">
              Сборные грузоперевозки
            </a>
            <a class="dropdown__btn btn btn--white" href="#">
              Попутные грузоперевозки
            </a>
          </div>
        </div>
        <div class="dropdown__col">
          <b class="dropdown__name">Большой груз</b>
          <p class="dropdown__text">Груз с первышенным весом или габаритами</p>

          <div class="dropdown__btns">
            <a class="dropdown__btn btn btn--white" href="#">
              Негобаритные перевозки
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="header__logo" href="index.html">
          <img src="img/logo.png" alt="logo" />
        </a>

        <button class="header__toggle" type="button" aria-label="Открыть меню">
          <span class="header__toggle-line"></span>
        </button>

        <a class="header__calc btn btn--light" href="#">
          <svg>
            <use xlink:href="img/sprite.svg#calc"></use>
          </svg>
          Узнать стоимость
        </a>

        <div class="header__item">
          <b>E-mail: </b>
          <a href="mailto:info@le-trans.kz">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>

            info@le-trans.kz
          </a>
        </div>

        <div class="header__item">
          <b>Бесплатный по Казахстану: </b>
          <a class="header__phone" href="tel:+77011234567">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            8-701-123-45-67
          </a>
        </div>

        <button class="header__btn btn btn-call" type="button">
          ЗАКАЗАТЬ ЗВОНОК
        </button>
      </div>
    </div>
  </div>

  <nav class="header__bottom">
    <div class="container">
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="index.html">Главная</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="services.html" data-target="services-drop"
            >Услуги</a
          >
        </li>
        <li class="menu__item">
          <a class="menu__link" href="transport.html">Автопарк</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Отследить груз</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="reviews.html">Отзывы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="contacts.html">Контакты</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
