<section class="hero" style="background-image: url('img/hero-bg-all.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__left">
        <h1 class="hero__title">
          Международные Грузовые перевозки в казахстане
        </h1>
        <p class="hero__text">
          Осуществляем грузоперевозки более 10 лет и являемся одним из лидеров
          рынка транспортных услуг.
        </p>
        <button class="hero__btn btn" type="button">
          Заказать КОНСУЛЬТАЦИЮ
        </button>
      </div>
      <form class="hero__right form-calc">
        <div class="form-calc__inner">
          <div class="form-calc__group">
            <label class="form-calc__label">
              Рассчитать стоимость перевозки:
            </label>
            <div class="form-calc__inputs">
              <div class="form-calc__input-wrap">
                <svg class="form-calc__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <input
                  class="form-calc__input form-calc__input--pl"
                  type="text"
                  placeholder="Откуда"
                />
              </div>
              <div class="form-calc__input-wrap">
                <svg class="form-calc__icon">
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                <input
                  class="form-calc__input form-calc__input--pl"
                  type="text"
                  placeholder="Куда"
                />
              </div>
            </div>
          </div>
          <div class="form-calc__group">
            <label class="form-calc__label"> Информация о грузе: </label>
            <div class="form-calc__inputs">
              <div class="form-calc__input-wrap">
                <input
                  class="form-calc__input form-calc__input--pr"
                  type="text"
                  placeholder="Объем"
                />
                <span class="form-calc__measure">м <sup>3</sup></span>
              </div>
              <div class="form-calc__input-wrap">
                <input class="form-calc__input form-calc__input--pr" type="text" placeholder="Вес" />
                <span class="form-calc__measure">кг</span>
              </div>
            </div>
          </div>
          <div class="form-calc__group">
            <label class="form-calc__label">Контактные даные</label>
            <div class="form-calc__inputs">
              <div class="form-calc__input-wrap">
                <input
                  class="form-calc__input"
                  type="text"
                  placeholder="Ваше имя"
                />
              </div>
              <div class="form-calc__input-wrap">
                <input
                  class="form-calc__input"
                  type="tel"
                  placeholder="Ваш телефон"
                />
              </div>
              <div class="form-calc__input-wrap">
                <input
                  class="form-calc__input"
                  type="text"
                  placeholder="Название компании"
                />
              </div>
              <div class="form-calc__input-wrap">
                <input
                  class="form-calc__input"
                  type="email"
                  placeholder="Ваш e-mail"
                />
              </div>
            </div>
          </div>

          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Я принимаю <a href="#">пользовательское соглашение</a> и
              подтверждаю, что ознакомлен и согласен с
              <a href="#">политикой конфиденциальности</a> данного сайта
            </span>
          </label>

          <button class="form-calc__btn btn" type="submit">
            Рассчитать стоимость
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
