<section class="numbers">
  <div class="container">
    <div class="numbers__wrapper">
      <div class="numbers__top">
        <h2 class="numbers__title">Мы в цифрах</h2>
        <p class="numbers__text">
          Наша организация выполняет перевозки с 2009 года за это время мы
          выполнили более 5 000 грузоперевозок.
        </p>
      </div>

      <ul class="numbers__list">
        <li class="numbers-item">
          <div class="numbers-item__circle">
            <div class="numbers-item__line">
              <div class="numbers-item__fill">
                <img src="img/numbers/1.png" alt="img" />
              </div>
              <span class="numbers-item__number">3</span>
            </div>
          </div>
          <span class="numbers-item__text">
            Филиала по всему <br />
            Казахстану
          </span>
        </li>
        <li class="numbers-item">
          <div class="numbers-item__circle">
            <div class="numbers-item__line">
              <div class="numbers-item__fill">
                <img src="img/numbers/2.png" alt="img" />
              </div>
              <span class="numbers-item__number">5832</span>
            </div>
          </div>
          <span class="numbers-item__text">
            Грузоперевозок <br />
            выполнили
          </span>
        </li>
        <li class="numbers-item">
          <div class="numbers-item__circle">
            <div class="numbers-item__line">
              <div class="numbers-item__fill">
                <img src="img/numbers/3.png" alt="img" />
              </div>
              <span class="numbers-item__number">825</span>
            </div>
          </div>
          <span class="numbers-item__text">
            Города получили <br />
            груз
          </span>
        </li>
        <li class="numbers-item">
          <div class="numbers-item__circle">
            <div class="numbers-item__line">
              <div class="numbers-item__fill">
                <img src="img/numbers/4.png" alt="img" />
              </div>
              <span class="numbers-item__number">8892</span>
            </div>
          </div>
          <span class="numbers-item__text">
            Тонн груза <br />
            перевезли
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
