<section class="regions">
  <!-- <div class="container"> -->
  <div class="regions__wrapper">
    <div class="regions__left">
      <h2 class="regions__title">Грузоперевозки по России и СНГ</h2>
      <div class="regions__text">
        <p>
          Грузоперевозки по России компания «Inside Logistics Group»
          осуществляет с 2012 года. За это время компания доказала свою
          надежность и работу на высоком уровне.
        </p>
        <p>
          Мы оказываем услуги по автоперевозке грузов в города России, а так же
          в страны СНГ.
        </p>
      </div>
      <div class="regions__accordions">
        <div class="regions-accordions">
          <div class="regions-accordions__accordion accordion">
            <button
              class="regions-accordions__control accordion-control-btn"
              type="button"
            >
              Все города

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="regions-accordions__content accordion-content">
              <div class="regions-accordions__inner">
                <a class="regions-accordions__link" href="#">Москва</a>
                <a class="regions-accordions__link" href="#">Санкт-Петербург</a>
                <a class="regions-accordions__link" href="#">Екатеринбург</a>
                <a class="regions-accordions__link" href="#">Казань</a>
                <a class="regions-accordions__link" href="#">Краснодар</a>
                <a class="regions-accordions__link" href="#">Сочи</a>
                <a class="regions-accordions__link" href="#">Ростов-на-Дону</a>
                <a class="regions-accordions__link" href="#">Анапа</a>
                <a class="regions-accordions__link" href="#">Нижний Новгород</a>
                <a class="regions-accordions__link" href="#">Саратов</a>
                <a class="regions-accordions__link" href="#">Новосибирск</a>
                <a class="regions-accordions__link" href="#">Крымск</a>
                <a class="regions-accordions__link" href="#">Новороссийск</a>
                <a class="regions-accordions__link" href="#">
                  Узбекистан, г. Ташкент
                </a>
                <a class="regions-accordions__link" href="#">
                  Киргизстан, г. Бишкек
                </a>
                <a class="regions-accordions__link" href="#">
                  Таджикистан, г. Душанбе.
                </a>
              </div>
            </div>
          </div>
          <div class="regions-accordions__accordion accordion">
            <button
              class="regions-accordions__control accordion-control-btn"
              type="button"
            >
              Все регионы

              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>

            <div class="regions-accordions__content accordion-content">
              <div class="regions-accordions__inner">
                <a class="regions-accordions__link" href="#">Алматы</a>
                <a class="regions-accordions__link" href="#">Астана</a>
                <a class="regions-accordions__link" href="#">Тараз</a>
                <a class="regions-accordions__link" href="#">Кызылорда</a>
                <a class="regions-accordions__link" href="#">Туркестан</a>
                <a class="regions-accordions__link" href="#">Актау</a>
                <a class="regions-accordions__link" href="#">Атырау</a>
                <a class="regions-accordions__link" href="#">Актобе</a>
                <a class="regions-accordions__link" href="#">Уральск</a>
                <a class="regions-accordions__link" href="#">Костанай</a>
                <a class="regions-accordions__link" href="#">Кокшетау</a>
                <a class="regions-accordions__link" href="#">Караганда</a>
                <a class="regions-accordions__link" href="#">Жезказган</a>
                <a class="regions-accordions__link" href="#">Петропавловск</a>
                <a class="regions-accordions__link" href="#"
                  >Усть-Каменогорск</a
                >
                <a class="regions-accordions__link" href="#">Семей</a>
                <a class="regions-accordions__link" href="#">Павлодар</a>
                <a class="regions-accordions__link" href="#">Талдыкорган</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="regions__img">
        <img src="img/map-img.png" alt="img" />
      </div>
      <div class="regions__btns">
        <button class="regions__btn btn" type="button">
          Заказать грузоперевозку
        </button>
        <button class="regions__btn btn btn--white" type="button">
          Все регионы
        </button>
      </div>
    </div>
    <div class="regions__right">
      <div class="regions__cols">
        <div class="regions__col">
          <div class="regions__box">
            <ul class="regions__list">
              <li class="regions__item">
                <a class="regions__link" href="#">Москва</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Санкт-Петербург</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Екатеринбург</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Казань</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Краснодар</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Сочи</a>
              </li>
            </ul>
          </div>
          <div class="regions__box">
            <ul class="regions__list">
              <li class="regions__item">
                <a class="regions__link" href="#">Ростов-на-Дону</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Анапа</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Нижний Новгород</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Саратов</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Новосибирск</a>
              </li>
            </ul>
          </div>
          <div class="regions__box">
            <ul class="regions__list">
              <li class="regions__item">
                <a class="regions__link" href="#">Крымск</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Новороссийск</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Узбекистан, г. Ташкент</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Киргизстан, г. Бишкек</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Таджикистан, г. Душанбе.</a>
              </li>
            </ul>
          </div>

          <a class="regions__all" href=""> Все города</a>
        </div>

        <div class="regions__col">
          <div class="regions__box">
            <ul class="regions__list">
              <li class="regions__item">
                <a class="regions__link" href="#">Алматы</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Астана</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Шымкент</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Тараз</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Кызылорда</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Туркестан</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Актау</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Атырау</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Актобе</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Уральск</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Костанай</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Кокшетау</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Караганда</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Жезказган</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Петропавловск</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Усть-Каменогорск</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Семей</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Павлодар</a>
              </li>
              <li class="regions__item">
                <a class="regions__link" href="#">Талдыкорган</a>
              </li>
            </ul>
          </div>

          <a class="regions__all" href=""> Все регионы</a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
