<section class="services-text">
  <div class="container">
    <p>
      Отправка груза самолетом позволяет существенно сэкономить затраты времени,
      иногда является единственным доступным способом транспортировки (для
      районов крайнего севера и т. п.). При этом авиаперевозки специфичны и
      возможность их использования зависит от целого ряда факторов. Далее
      рассмотрим вопрос подробно.
    </p>

    <h2>LE TRANS работает в области международных авиаперевозок</h2>
    <p>
      Имеем прямые договоры с ведущими международными авиалиниями, располагаем
      собственными складами консолидации в США, Китае и странах Европы.
      Организуем доставку от двери до двери по полному логистическому циклу.
    </p>
    <p>
      Воздушные перевозки грузов требуют большого опыта и высокого
      профессионализма. Нужно знать множество нюансов, которые напрямую влияют
      на стоимость и сроки доставки.
    </p>

    <h2>
      Доставка может осуществляться пассажирскими <br />
      и грузовыми рейсами
    </h2>

    <p>Каждый из этих вариантов имеет свои плюсы и минусы.</p>

    <p>
      Пассажирские самолеты обеспечивают более быструю и дешевую перевозку по
      наиболее востребованным направлениям. Грузовые подходят для
      транспортировки товаров, запрещенных к погрузке на пассажирские рейсы
      (вакцины, аккумуляторы, горючие вещества и пр.), а также различных
      негабаритных грузов.
    </p>
  </div>
</section>
