<section class="services">
  <div class="container">
    <h2 class="services__title">Наши услуги</h2>

    <ul class="services__list">
      <li class="services__item">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/1.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">авто перевозки</h3>
            <p class="services-card__text">от 1 тонны до 20 тонн</p>
          </div>
        </a>
      </li>
      <li class="services__item">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/2.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              Сборные <br />
              грузоперевозки
            </h3>
            <p class="services-card__text">от 100 кг до 20 тонн</p>
          </div>
        </a>
      </li>
      <li class="services__item">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/3.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              Квартирные, офисные <br />
              и домашние переезды
            </h3>
            <p class="services-card__text">от 100 кг до 20 тонн</p>
          </div>
        </a>
      </li>
      <li class="services__item">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/4.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              рефрижераторные <br />
              перевозки
            </h3>
            <p class="services-card__text">от 100 кг до 20 тонн</p>
          </div>
        </a>
      </li>
      <li class="services__item">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/5.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              Авиа <br />
              перевозки
            </h3>
            <p class="services-card__text">от 1 до 3 тонн</p>
          </div>
        </a>
      </li>
      <li class="services__item">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/6.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              Международные <br />
              перевозки
            </h3>
            <p class="services-card__text">от 100 кг до 20 тонн</p>
          </div>
        </a>
      </li>
      <li class="services__item services__item--big">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/7.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              негабаритные <br />
              перевозки
            </h3>
            <p class="services-card__text">от 3 тонн и выше</p>
          </div>
        </a>
      </li>
      <li class="services__item services__item--big">
        <a class="services-card" href="#">
          <div class="services-card__img">
            <img src="img/services/8.jpg" alt="img" />
          </div>
          <div class="services-card__inner">
            <h3 class="services-card__title">
              Аренда <br />
              спецтехники
            </h3>
            <p class="services-card__text">Краны, самосвалы</p>
          </div>
        </a>
      </li>
    </ul>

    <a class="services__btn btn" href="#">Все услуги</a>
  </div>
</section>
