<section class="steps">
  <div class="container">
    <div class="steps__wrapper">
      <div class="steps__left">
        <h2 class="steps__title">
          <span>Всего 5 шагов </span> до получения груза
        </h2>
        <div class="steps__text">
          <p>
            Мы предлагаем нашим клиентам услуги грузовых перевозок по Алмату и
            другим городам Казахстана.
          </p>
          <p>
            Мы контролируем скорость, надежность и качество перевозок, а также
            оперативно вносим изменения по вашим персональным требованиям к
            доставке.
          </p>
        </div>
        <button class="steps__btn btn" type="button">СДЕЛАТЬ ПЕРВЫЙ ШАГ</button>
      </div>

      <div class="steps__right">
        <img class="steps__img" src="img/steps-img.png" alt="img" />
        <div class="steps__items">
          <div class="steps__item">
            <b>Заявка или расчёт</b>
            <p>
              Вы оставляете заявку или расчёт в калькуляторе или <br />
              звоните нам по бесплатному номеру 8-701-123-45-67
            </p>
          </div>
          <div class="steps__item">
            <b>Консультация менеджера</b>
            <p>
              Наши специалисты свяжутся с Вами для консультации и расчёта <br />
              перевозки Вашего груза. Уточнит все детали перевозки.
            </p>
          </div>
          <div class="steps__item">
            <b>Отправка данных</b>
            <p>
              Мы отправляем вам информацию по расчёту стоимости, <br />
              реквизиты и договор.
            </p>
          </div>
          <div class="steps__item">
            <b>Оплата перевозки</b>
            <p>
              Вы оплачиваете 30% стоимости перевозки до погрузки вашего <br />
              груза по запланированной дате и времени.
            </p>
          </div>
          <div class="steps__item">
            <b>Получение груза</b>
            <p>
              Вы получаете груз в запланированном месте, проверяете, <br />
              оплачиваете оставшуюся сумму.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
