<section class="transport-slider">
  <div class="container">
    <div class="transport-slider__top">
      <h2 class="transport-slider__title">Закажите выделенный транспорт</h2>
      <a class="transport-slider__btn btn btn--light" href="#">смотреть все </a>
    </div>
  </div>

  <div class="container container--big">
    <div class="transport-slider__content">
      <button class="swiper-button-prev" type="button" aria-label="Предыдущий">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </button>
      <button class="swiper-button-next" type="button" aria-label="Следующий">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
      <div class="transport-slider__slider swiper">
        <ul class="transport-slider__slides swiper-wrapper">
          <li class="transport-slider__slide swiper-slide">
            <div class="transport-card">
              <div class="transport-card__top">
                <img src="img/transport/1.png" alt="img" />
              </div>
              <div class="transport-card__body">
                <div class="transport-card__size">4.2 x 2 x 2</div>

                <div class="transport-card__spec">
                  <span>до 3 тонн</span>
                  <b>от 44 ₸/км</b>
                </div>

                <button class="transport-card__btn btn btn--light">заказать</button>
              </div>
            </div>
          </li>
          <li class="transport-slider__slide swiper-slide">
            <div class="transport-card">
              <div class="transport-card__top">
                <img src="img/transport/2.png" alt="img" />
              </div>
              <div class="transport-card__body">
                <div class="transport-card__size">5.4 x 2.45 x 2.5</div>

                <div class="transport-card__spec">
                  <span>до 5 тонн</span>
                  <b>от 82 ₸/км</b>
                </div>

                <button class="transport-card__btn btn btn--light">заказать</button>
              </div>
            </div>
          </li>
          <li class="transport-slider__slide swiper-slide">
            <div class="transport-card">
              <div class="transport-card__top">
                <img src="img/transport/3.png" alt="img" />
              </div>
              <div class="transport-card__body">
                <div class="transport-card__size">7.6 x 2.45 x 2,5</div>

                <div class="transport-card__spec">
                  <span>до 10 тонн</span>
                  <b>от 104 ₸/км</b>
                </div>

                <button class="transport-card__btn btn btn--light">заказать</button>
              </div>
            </div>
          </li>
          <li class="transport-slider__slide swiper-slide">
            <div class="transport-card">
              <div class="transport-card__top">
                <img src="img/transport/4.png" alt="img" />
              </div>
              <div class="transport-card__body">
                <div class="transport-card__size">13.6 x 2.45 x 2.6</div>

                <div class="transport-card__spec">
                  <span>до 20 тонн</span>
                  <b>от 160 ₸/км</b>
                </div>

                <button class="transport-card__btn btn btn--light">заказать</button>
              </div>
            </div>
          </li>
          <li class="transport-slider__slide swiper-slide">
            <div class="transport-card">
              <div class="transport-card__top">
                <img src="img/transport/1.png" alt="img" />
              </div>
              <div class="transport-card__body">
                <div class="transport-card__size">4.2 x 2 x 2</div>

                <div class="transport-card__spec">
                  <span>до 3 тонн</span>
                  <b>от 44 ₸/км</b>
                </div>

                <button class="transport-card__btn btn btn--light">заказать</button>
              </div>
            </div>
          </li>
          <li class="transport-slider__slide swiper-slide">
            <div class="transport-card">
              <div class="transport-card__top">
                <img src="img/transport/1.png" alt="img" />
              </div>
              <div class="transport-card__body">
                <div class="transport-card__size">4.2 x 2 x 2</div>

                <div class="transport-card__spec">
                  <span>до 3 тонн</span>
                  <b>от 44 ₸/км</b>
                </div>

                <button class="transport-card__btn btn btn--light">заказать</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
