<section class="transport">
  <div class="container">
    <div class="transport__top">
      <h1 class="transport__title">Автопарк «Le Trans»</h1>
      <p class="transport__text">
        Наша компания предоставляет широкий спектр услуг в перевозке грузов
        различных габаритов. Подберите оптимальный для Вас вариант перевозки и
        оставьте заявку на нашем сайте и мы свяжемся с Вами в ближайшее время.
      </p>

      <div class="transport-accordion accordion">
        <button
          class="transport-accordion__control accordion-control-btn"
          type="button"
        >
          Примеры маршрутов

          <svg>
            <use xlink:href="img/sprite.svg#chevron"></use>
          </svg>
        </button>

        <div class="transport-accordion__content accordion-content">
          <div class="transport-accordion__inner">
            <div class="transport-accordion__item">
              <p>МСК-СПБ (200 кг.)</p>
              <b>6000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>МСК-Екатеринбург (500 кг.)</p>
              <b>17000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>СПБ-МСК (1 т.)</p>
              <b>13000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>Тула-МСК (5.5 т.)</p>
              <b>12000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>МСК-Самара (400 кг.)</p>
              <b>10000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>МСК-Воронеж (400 кг.)</p>
              <b>6000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>МСК-Ростов-на-Дону (3 т.)</p>
              <b>18000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>МСК-Казань (800 кг.)</p>
              <b>15000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>Краснодар-Ростов-на-Дону (1 т.)</p>
              <b>6000 Р</b>
            </div>
            <div class="transport-accordion__item">
              <p>МСК-Уфа (300 кг.)</p>
              <b>12000 Р</b>
            </div>
          </div>
        </div>
      </div>

      <form class="transport-filters">
        <p class="transport-filters__text">Показать</p>
        <ul class="transport-filters__btns">
          <li class="transport-filters__item">
            <a class="transport-filters__btn btn btn--light active" href="#"
              >Все</a
            >
          </li>
          <li class="transport-filters__item">
            <a class="transport-filters__btn btn btn--light" href="#">Газели</a>
          </li>
          <li class="transport-filters__item">
            <a class="transport-filters__btn btn btn--light" href="#"
              >Фургоны</a
            >
          </li>
          <li class="transport-filters__item">
            <a class="transport-filters__btn btn btn--light" href="#"
              >Грузовики</a
            >
          </li>
          <li class="transport-filters__item">
            <a class="transport-filters__btn btn btn--light" href="#">Фуры</a>
          </li>
        </ul>
        <div class="transport-filters__selects">
          <select class="transport-filters__select">
            <option value="">Тоннаж (до)</option>
            <option value="1">До 3 тонн</option>
            <option value="2">До 5 тонн</option>
            <option value="3">До 10 тонн</option>
            <option value="4">До 20 тонн</option>
            <option value="5">До 22 тонн</option>
          </select>
          <select class="transport-filters__select">
            <option value="">Тоннаж (до)</option>
            <option value="1">До 3 тонн</option>
            <option value="2">До 5 тонн</option>
            <option value="3">До 10 тонн</option>
            <option value="4">До 20 тонн</option>
            <option value="5">До 22 тонн</option>
          </select>
        </div>
        <button class="transport-filters__reset" type="reset">Сбросить</button>
      </form>
    </div>
  </div>
  <div class="transport__content">
    <div class="container">
      <ul class="transport__list">
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
        <li class="transport__item">
          <article class="car-card">
            <div class="car-card__top">
              <img src="img/cars/1.png" alt="img" />
            </div>
            <div class="car-card__body">
              <div class="car-card__left">
                <h3 class="car-card__title">
                  Газель — 4 x 2 x 2.05 — до 3 тонн
                </h3>
                <p class="car-card__text">
                  Грузовая газель, подходящая для большинства грузоперевозок.
                </p>
              </div>
              <button class="car-card__btn btn" type="button">ЗАКАЗАТЬ</button>
            </div>
          </article>
        </li>
      </ul>

      <div class="transport__loading loading">
        <img src="img/loading-gif.gif" alt="loading" />
      </div>
    </div>
  </div>
</section>
